//first-screen
section.fr-screen
  .fr-screen__content
    .page-mark Smart Contract Automation
    h1.fr-screen__title Serverless, Trustless,
      br
      | Precisely On Time
    p.fr-screen__text Automate mission-critical crypto &amp; DeFi operations without servers, cron jobs, or brittle scripts. Ditto’s decentralized keeper network executes on schedule with economic guarantees, MEV-safe routing, and verifiable proofs.
    .fr-screen__btns
      a.btn.btn_primary(href=process.env.LINK_CONTACY_US target="_blank")
        | Talk to Sales
        +icon('arrow')
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | See Examples
  .fr-screen__img
    include ../../components/svgImages/subPageHero

