.about {
  display: flex;
  flex-direction: column;
  border-top: none;
  @include mq('768') {
    flex-direction: row;
  }
  &__title {
    margin-bottom: 22px;
    @include mq('768') {
      margin-bottom: 40px;
    }
  }
  &__text {
    line-height: 1.45;
  }
  &__left, &__right {
    padding: 31px 19px;
    @include mq('768') {
      width: 50%;
    }
  }
  &__left {
    border-bottom: 1px solid var(--globalBr);
    background-image: repeating-linear-gradient(
    -45deg,
      var(--blockLines),
      var(--blockLines) 0.5px,
      transparent 1px,
      transparent 6px
    );
    @include mq('768') {
      border-bottom: none;
      border-right: 1px solid var(--globalBr);
      padding: 32px 28px 39px;
    }
  }
  &__right {
    @include mq('768') {
      padding: 32px 32px 39px;
    }

  }
}

.about-list {
  counter-reset: item;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include mq('768') {
    gap: 48px;
  }
  &__item {
    counter-increment: item;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    line-height: 1.45;
    color: var(--textColor);
    padding-right: 30px;
    @include mq('768') {
      gap: 10px;
      font-size: 18px;
    }
    &::before {
      content: "/ 0"counter(item) " " attr(data-text);
      font-size: 14px;
      line-height: 24px;
      @include mq('768') {
        font-size: 16px;
      }
    }
    span {
      font-size: 14px;
      line-height: 24px;
      @include mq('768') {
        font-size: 16px;
      }

    }
  }



}
