@use "../../../sass/global/helpers/mixins/mediaquery";

.faq {
  border: none;
  @include mediaquery.mq('768') {
    display: flex;
  }
  &__title {
    font-weight: 500;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1.4;
    @include mediaquery.mq('768') {
      font-size: 40px;
      line-height: 48px;
    }
  }
  &__left, &__right {
    border: 1px solid var(--globalBr);
    padding: 32px 19px;
    @include mediaquery.mq('768') {
      padding: 32px 20px;
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }
  &__left {
    border-top: none;
    @include mediaquery.mq('768') {
      background-image: repeating-linear-gradient(
        -45deg,
        var(--blockLines),
        var(--blockLines) 0.5px,
        transparent 1px,
        transparent 6px
      );
    }
  }
  &__right {
    padding: 0;
    border-top: none;
    @include mediaquery.mq('768') {
      padding: 0;
      border-left: none;
    }
  }
  .btn {
    display: none;
    @include mediaquery.mq('768') {
      display: block;
      margin-top: auto;
    }
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  &__item {
    transition: background 0.2s ease-in-out;
    padding-bottom: 30px;
    &:not(:last-child) {
      border-bottom: 1px solid var(--globalBr);
    }
    &:hover {
      background: var(--faqListHover);
    }
    &.open {
      .faq-list__content {
        max-height: 500px;
        opacity: 1;
        padding-top: 16px;
        @include mediaquery.mq('768') {
          padding-top: 42px;
        }
      }
      .faq-list__header .icon {
        transform: rotate(180deg);
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 30px 19px 0;
    @include mediaquery.mq('768') {
      padding: 33px 32px 0;
    }
    .icon {
      stroke: var(--textColor);
      width: 24px;
      height: 24px;
      transition: transform 0.2s ease-in-out;
    }
  }
  &__title {
    color: var(--title);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    max-width: 80%;
    @include mediaquery.mq('768') {
      font-size: 18px;
      max-width: 85%;
    }
  }
  &__content {
    color: var(--textColor);
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    padding: 0 19px;
    line-height: 1.45;
    opacity: 0;
    @include mediaquery.mq('768') {
      font-size: 18px;
      padding: 0 32px;
      line-height: 28px;
    }
  }

}
