section.cta
  h2.subPage__title.cta__title Explore what else can be built with Ditto.
  p.cta__text What will you automate next?
  ul.cta-list
    li.cta-list__item
      a.btn.btn_gradient(href='/smart-contract.html' target="_blank")
        span.gradient
        span.text
          | Smart Contract Automation
          +icon('arrow')
    li.cta-list__item
      a.btn.btn_secondary(href='/asset-vault.html' target="_blank")
        | Asset &amp; Vault Mgmt
    li.cta-list__item
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | Free Management
    li.cta-list__item
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | Smart Wallets &amp; DeFi
    li.cta-list__item
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | No-Code Automation
    li.cta-list__item
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | AI Agents Backend



