//first-screen
section.fr-screen
  .fr-screen__content
    .page-mark Сrypto transfers
    h1.fr-screen__title Payments routing &amp; revenue sharing, automated
    p.fr-screen__text Automate fee collection, treasury management, and revenue distribution with complete transparency across multiple networks.
    .fr-screen__btns
      a.btn.btn_primary(href=process.env.LINK_CONTACY_US target="_blank")
        | Talk to Sales
        +icon('arrow')
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | See Examples
  .fr-screen__img
    include ../../components/svgImages/subPageHero

