section.cta
  h2.subPage__title.cta__title Explore what else can be built with Ditto.
  p.cta__text What will you automate next?
  ul.cta-list
    li.cta-list__item
      a.btn.btn_secondary(href=process.env.SMART_CONTRACT target="_blank")
        | Smart Contract Automation
    li.cta-list__item
      a.btn.btn_secondary(href=process.env.ASSET_VAULT target="_blank")
        | Asset &amp; Vault Mgmt
    li.cta-list__item
      a.btn.btn_gradient(href=process.env.CRYPTO_TRANSFERS)
        span.gradient
        span.text
          | Crypto transfers
          +icon('arrow')
    li.cta-list__item
      a.btn.btn_secondary(href='#' target="_blank")
        | Smart Wallets &amp; DeFi
    li.cta-list__item
      a.btn.btn_secondary(href='#' target="_blank")
        | No-Code Automation
    li.cta-list__item
      a.btn.btn_secondary(href='#' target="_blank")
        | AI Agents Backend



