.svgImg {
  width: 100%;
  height: auto;
}

.omnichain {
  .outer, .inner, .center, .line0, .line1, .line2, .line3 {
    transform-origin: center;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  image {
    transform-origin: center;
    transform-box: fill-box;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line-fill {
    stroke-dasharray: 0 144;
    transition: stroke-dasharray 0.6s ease;
    pointer-events: none;
  }

  .center-fill {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    transition: stroke-dashoffset 0.4s ease;
    pointer-events: none;
  }
  &:hover {
    .outer {
      transform: rotate(45deg);
      image {
        transform: rotate(-45deg);
      }
    }
    .inner {
      transform: rotate(-45deg);

      image {
        transform: rotate(45deg);
      }
    }

    .center-fill {
      stroke-dashoffset: 0;
      transition-delay: 0s;
    }

    .line0-left,
    .line0-right,
    .line1-left,
    .line1-right,
    .line2-left,
    .line2-right,
    .line3-top,
    .line3-bottom {
      stroke-dasharray: 4 4;
      transition-delay: 0.2s;
    }
  }

}

.sign {
  // линии
  .line-fill {
    pointer-events: none;
    transition: stroke-dashoffset 0.6s ease;
  }

  .line-fill_top {
    transition-delay: 0.0s;
    stroke-dashoffset: 400;
  }
  .line-fill_center {
    transition-delay: 0.0s;
    stroke-dashoffset: 246;
  }
  .line-fill_bottom {
    transition-delay: 0.0s;
    stroke-dashoffset: 400;
  }

  // круг
  .top, .bottom {
    transition: stroke-dashoffset 0.4s ease;
    stroke-dasharray: 110 110;
    transition-delay: 0.6s;
  }
  // начальные состояния
  .top {
    stroke-dashoffset: 110;
  }
  .bottom {
    stroke-dashoffset: 0;
  }

  // Ховер → проявление (с задержками на круг)
  &:hover {
    .line-fill_top {
      stroke-dashoffset: 0;
      transition-delay: 0.41s;
    }
    .line-fill_center {
      stroke-dashoffset: 0;
      transition-delay: 0.41s;
    }
    .line-fill_bottom {
      stroke-dashoffset: 0;
      transition-delay: 0.41s;
    }

    .top {
      stroke-dashoffset: 55;
      transition-delay: 0s;
    }

    .bottom {
      stroke-dashoffset: 55;
      transition-delay: 0s;
    }
  }
}

.conditional {
  .progressBr {
    stroke: var(--svglines);
    stroke-width: 2;
    $width: 294;
    $height: 87;
    $perimeter: ($width + $height) * 2;
    stroke-dasharray: $perimeter;
    stroke-dashoffset: $perimeter;
    transition: stroke 0.3s ease, stroke-dashoffset 1s ease;
  }
  .line-left, .line-right {
    stroke: var(--svglines);
    stroke-width: 2;
    stroke-dasharray: 0 150;
    $pathLength: 150;
    stroke-dasharray: $pathLength;
    stroke-dashoffset: $pathLength;
    transition: stroke 0.3s ease, stroke-dasharray 0.5s ease;
  }
  .line-left {
    stroke: url(#gradientLeft);
  }

  .line-right {
    stroke: url(#gradientRight);
  }

  &:hover {
    .progressBr {
      stroke: $main;
      stroke-dashoffset: 0;
    }
    .line-left, .line-right  {
      stroke-dasharray: 4 4;
      transition-delay: 0.41s;
    }
  }
}

.module {
  .module-circle {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    transition: stroke-dashoffset 0.4s ease;
    pointer-events: none;
  }
  .module-line-left,
  .module-line-right {
    stroke-dasharray: 49;
    stroke-dashoffset: 49;
    transition: stroke-dashoffset 0.6s ease;
  }

  &:hover {
    .module-circle {
      stroke-dashoffset: 0;
      transition-delay: 0s;
    }

    .module-line-left {
      stroke-dashoffset: 0;
      transition-delay: 0.3s;
    }

    .module-line-right {
      stroke-dashoffset: 0;
      transition-delay: 0.3s;
    }
  }
}

.smart {
  .smart-ring {
    stroke-dasharray: 195;
    stroke-dashoffset: 195;
    transition: stroke 0.3s ease, stroke-dashoffset 1s ease;
  }

  .smart-line {
    stroke: var(--svglines);
    stroke-width: 2;
    stroke-dasharray: 0 364;
    $pathLength: 364;
    stroke-dasharray: $pathLength;
    stroke-dashoffset: -$pathLength;
    transition: stroke 0.3s ease, stroke-dasharray 0.5s ease;
  }

  .line1 { stroke: url(#paint0_linear_33753_32953) }
  .line2 { stroke: url(#paint1_linear_33753_32953) }
  .line3 { stroke: url(#paint2_linear_33753_32953) }
  .line4 { stroke: url(#paint3_linear_33753_32953) }

  &:hover {
    .smart-ring {
      stroke-dashoffset: 0;
    }

    .smart-line {
      stroke-dasharray: 4 4;
      transition-delay: 0.41s;
    }
  }
}


body.light {
  .codeDark{
    display: none;
  }
  .codeLight {
    display: block;
  }
}
body.dark {
  .codeLight {
    display: none;
  }
  .codeDark{
    display: block;
  }
}


.security {
  background-image:
    linear-gradient(to right, var(--svgSecurityIconsBr) 0.5px, transparent 0.5px),
    linear-gradient(to bottom, var(--svgSecurityIconsBr) 0.5px, transparent 0.5px);
  background-size: 26px 26px;
  mask-image:
    linear-gradient(to top, transparent, black 20%),
    linear-gradient(to bottom, transparent, black 20%),
    linear-gradient(to left, transparent, black 20%),
    linear-gradient(to right, transparent, black 20%);
  mask-composite: intersect;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;

  .eigen, .symbiotic {
    fill: transparent;
    transition: fill 0.4s ease-in-out;
  }
  &:hover {
    .eigen{
      fill: #4A19DE;
    }
    .symbiotic {
      fill: #B7EF5C
    }
    .center-shape {
      fill: url(#paint1_linear_33752_32916);
    }
    .right-shape {
      fill: url(#paint4_linear_33752_32916);
    }
  }
}

.tech {
  image {
    filter: grayscale(142%);
    transition: filter 0.2s ease;
  }
  &:hover {
    image {
      filter: grayscale(0);
    }

  }

}

