svg(width="1112" height="551" viewBox="0 0 1112 551" fill="none" xmlns="http://www.w3.org/2000/svg").hero-svg
  g(clip-path="url(#clip0_33748_12065)")
    mask#path-1-inside-1_33748_12065(fill="var(--svgIconsBg)")
    path(d="M0 0H1112V551H0V0Z")
    path(d="M0 0H1112V551H0V0Z" fill="var(--bgColor)")
    line(x1="556" y1="5" x2="556.001" y2="551" stroke="var(--globalBr)")
    path(d="M1113 552C1108.68 249.75 861.098 5 556.45 5C251.609 5 4.01645 249.001 0 551.516" stroke="var(--globalBr)")
    path(d="M556.451 5C714.992 5 843.751 249.3 846 551.5" stroke="var(--globalBr)")
    path(d="M556.451 5C387.637 5 250.395 249.3 248 551.5" stroke="var(--globalBr)")
    path(d="M556.451 5C468.918 5 397.742 249.3 396.5 551.5" stroke="var(--globalBr)")
    path(d="M556.451 5C634.605 5 698.391 249.3 699.5 551.5" stroke="var(--globalBr)")
    path(d="M556.451 5C790.914 5 981.174 249.3 984.5 551.5" stroke="var(--globalBr)")
    path(d="M556.451 5C316.629 5 121.903 249.3 118.5 551.5" stroke="var(--globalBr)")
    path(d="M17 421L1095 421" stroke="var(--globalBr)")
    path(d="M68.4697 292.476L1044 292.476" stroke="var(--globalBr)")
    path(d="M170.434 159.877L941.81 159.877" stroke="var(--globalBr)")

    //greenLines

    path.step1.anim2-line1(d="M556.451 5C610.304 5 657.335 120.995 681.738 292" stroke="url(#paint0_linear_33748_12065)" stroke-width="3")
    path.step1.anim5-line1(d="M556.451 5C391.199 5 247.359 120.995 172.771 292" stroke="url(#paint1_linear_33748_12065)" stroke-width="3")
    path.step1.anim4-line1(d="M556.451 5C473.455 5 398.09 64.0504 342.63 160" stroke="url(#paint2_linear_33748_12065)" stroke-width="3")
    path.step1.anim3-line1(d="M556.5 5V420.5H416" stroke="url(#paint3_linear_33748_12065)" stroke-width="3")
    path.step1.anim1-line1(d="M556.451 5C691.526 5 804.982 182.332 837 421.719H956" stroke="url(#paint4_linear_33748_12065)" stroke-width="3")
    path.step1(d="M1112 551V550H0V551V552H1112V551Z" fill="var(--globalBr)" mask="url(#path-1-inside-1_33748_12065)")

    path.step2.anim1-line2(d="M970.957 420.5C961.95 375.357 948.66 332.432 931.681 292.5H693.5" stroke="url(#paint0_linear_33749_12227)" stroke-width="3")

    path.step2.anim3-line2(d="M401.49 421.5C408.981 320.342 424.51 230.274 445.574 160H343" stroke="url(#paint1_linear_33749_12227)" stroke-width="3")
    path.step2.anim5-line2(d="M188 292.5H286.088C301.104 243.521 320.119 199.044 342.341 160.5" stroke="url(#paint2_linear_33749_12227)" stroke-width="3")

    //circles

    //from right circle 1
    circle.anim1-circle1(cx="970" cy="421" r="13.5" fill="var(--svgIconsBg)"  stroke="var(--globalBr)")
    circle.anim1-circle1(cx="970" cy="421" r="6" fill="var(--globalBr)")

    //from right circle 2
    circle.anim1-circle2.anim2-circle1(cx="680" cy="292" r="13.5" fill="var(--svgIconsBg)" stroke="var(--globalBr)")
    circle.anim1-circle2.anim2-circle1(cx="680" cy="292" r="6" fill="var(--globalBr)")

    //from right circle 3

    circle.anim3-circle1(cx="402" cy="421" r="13.5" fill="var(--svgIconsBg)" stroke="var(--globalBr)")
    circle.anim3-circle1(cx="402" cy="421" r="6" fill="var(--globalBr)")

    //from right circle 4
    circle.anim3-circle2.anim4-circle1.anim5-circle2(cx="343" cy="160" r="13.5" fill="var(--svgIconsBg)" stroke="var(--globalBr)")
    circle.anim3-circle2.anim4-circle1.anim5-circle2(cx="343" cy="160" r="6" fill="var(--globalBr)")

    //from right circle 5
    circle.anim4-circle2.anim5-circle1(cx="174" cy="292" r="13.5" fill="var(--svgIconsBg)" stroke="var(--globalBr)")
    circle.anim4-circle2.anim5-circle1(cx="174" cy="292" r="6" fill="var(--globalBr)")

  defs
    clipPath#clip0_33748_12065
      path(d="M0 0H1112V551H0V0Z" fill="var(--svgIconsBg)")
    linearGradient#paint0_linear_33748_12065(x1="556.752" y1="5" x2="671.749" y2="5.70234" gradientUnits="userSpaceOnUse")
      stop(stop-color="var(--bgColor)" stop-opacity="0")
      stop(offset="0.749957" stop-color="#7AE99D")
      stop(offset="0.993262" stop-color="var(--bgColor)" stop-opacity="0")
    linearGradient#paint1_linear_33748_12065(x1="173" y1="222.5" x2="551.507" y2="196.544" gradientUnits="userSpaceOnUse")
      stop(stop-color="var(--bgColor)" stop-opacity="0")
      stop(offset="0.362352" stop-color="#7AE99D")
      stop(offset="1" stop-color="var(--bgColor)" stop-opacity="0")
    linearGradient#paint2_linear_33748_12065(x1="265" y1="271" x2="631.5" y2="5.00001" gradientUnits="userSpaceOnUse")
      stop(stop-color="var(--bgColor)" stop-opacity="0")
      stop(offset="0.589718" stop-color="#7AE99D")
      stop(offset="1" stop-color="var(--bgColor)" stop-opacity="0")
    linearGradient#paint3_linear_33748_12065(x1="566" y1="58.5" x2="694.796" y2="123.471" gradientUnits="userSpaceOnUse")
      stop(stop-color="var(--bgColor)" stop-opacity="0")
      stop(offset="1" stop-color="#7AE99D")
    linearGradient#paint4_linear_33748_12065(x1="596.5" y1="4.99998" x2="852.172" y2="-66.8511" gradientUnits="userSpaceOnUse")
      stop(stop-color="var(--bgColor)" stop-opacity="0")
      stop(offset="0.441449" stop-color="#7AE99D")
      stop(offset="1" stop-color="var(--bgColor)" stop-opacity="0")
    linearGradient#paint0_linear_33749_12227(x1="742.5" y1="280.5" x2="1025.01" y2="299.59" gradientUnits="userSpaceOnUse")
      stop(offset="0.0083239" stop-color="#F8F9FA" stop-opacity="0")
      stop(offset="0.396861" stop-color="#80EAA1" stop-opacity="0.954804")
      stop(offset="0.637708" stop-color="#7AE99D")

    linearGradient#paint1_linear_33749_12227(x1="365" y1="161" x2="291.308" y2="209.651" gradientUnits="userSpaceOnUse")
      stop(stop-color="#7AE99D")
      stop(offset="1" stop-color="#F8F9FA" stop-opacity="0")
    linearGradient#paint2_linear_33749_12227(x1="366" y1="161" x2="228.925" y2="141.38" gradientUnits="userSpaceOnUse")
      stop(offset="0.385802" stop-color="#7AE99D")
      stop(offset="1" stop-color="#F8F9FA" stop-opacity="0")
    linearGradient#paint3_linear_33749_12227(x1="228.925" y1="141.38" x2="366" y2="161" gradientUnits="userSpaceOnUse")
      stop(offset="0.385802" stop-color="#7AE99D")
      stop(offset="1" stop-color="#F8F9FA" stop-opacity="0")
