svg(fill="none" height="664" viewBox="0 0 1120 664" width="1120" xmlns="http://www.w3.org/2000/svg").svgImg.subPageHero
  defs
    linearGradient#gridBg(x1="50.9164" y1="159.712" x2="1087.05" y2="152.725" gradientUnits="userSpaceOnUse")
      stop(stop-color="var(--bgColor)")
      stop(offset="0.245219" stop-color="var(--bgColor)" stop-opacity="0")
      stop(offset="0.643329" stop-color="var(--bgColor)" stop-opacity="0")
      stop(offset="0.991754" stop-color="var(--bgColor)")
    linearGradient#ray1(x1="182.92" y1="443" x2="304.168" y2="660.509" gradientUnits="userSpaceOnUse")
      stop(stop-color="#7AE99D")
      stop(offset="0.494524" stop-color="var(--globalBr)" stop-opacity="0")
    linearGradient#ray2(x1="344.025" y1="555" x2="464.662" y2="773.487" gradientUnits="userSpaceOnUse")
      stop(stop-color="#7AE99D")
      stop(offset="0.494524" stop-color="var(--globalBr)" stop-opacity="0")
    linearGradient#ray3(x1="237.025" y1="608" x2="357.662" y2="826.487" gradientUnits="userSpaceOnUse")
      stop(stop-color="#7AE99D")
      stop(offset="0.494524" stop-color="var(--globalBr)" stop-opacity="0")
    linearGradient#ray4(x1="992.975" y1="554" x2="872.338" y2="772.487" gradientUnits="userSpaceOnUse")
      stop(stop-color="#7AE99D")
      stop(offset="0.494524" stop-color="var(--globalBr)" stop-opacity="0")
    linearGradient#ray5(x1="933.975" y1="611" x2="813.338" y2="829.487" gradientUnits="userSpaceOnUse")
      stop(stop-color="#7AE99D")
      stop(offset="0.494524" stop-color="var(--globalBr)" stop-opacity="0")
    linearGradient#ray6(x1="933.975" y1="501" x2="813.338" y2="719.487" gradientUnits="userSpaceOnUse")
      stop(stop-color="#7AE99D")
      stop(offset="0.494524" stop-color="var(--globalBr)" stop-opacity="0")
  rect(x="0" y="0" width="1120" height="664" fill="url(#gridBg)")
  path.ray1.animate(d="M390 443L281 442.999L172 442.999" stroke="url(#ray1)" stroke-width="3" stroke-dasharray="220" stroke-dashoffset="220")
  path.ray2.animate(d="M860 555L333 555" stroke="url(#ray2)" stroke-width="3" stroke-dasharray="527" stroke-dashoffset="527")
  path.ray3.animate(d="M226 608L945 611" stroke="url(#ray3)" stroke-width="3" stroke-dasharray="719" stroke-dashoffset="719")
  path.ray4.animate(d="M1004 554L333 555" stroke="url(#ray4)" stroke-width="3" stroke-dasharray="671" stroke-dashoffset="671")
  path.ray5.animate(d="M418 611L945 611" stroke="url(#ray5)" stroke-width="3" stroke-dasharray="527" stroke-dashoffset="527")
  path.ray6.animate(d="M418 501L945 501" stroke="url(#ray6)" stroke-width="3" stroke-dasharray="527" stroke-dashoffset="527")

  // Зеленые кружки (fill #7AE99D, class для scale: dot1-4, всего 4)
  // dot1 для ray1 end (172/443)
  g.dot1.transform-group
    circle(cx="172" cy="443" r="7.5" fill="#7AE99D")
  // dot2 для ray2 end и ray4 (333/555)
  g.dot2.transform-group
    circle(cx="333" cy="555" r="7.5" fill="#7AE99D")
  // dot4 для ray3 end и ray5 (945/611)
  g.dot4.transform-group
    circle(cx="945" cy="611" r="7.5" fill="#7AE99D")
  // dot5 для ray6 end (945/501)
  g.dot5.transform-group
    circle(cx="945" cy="501" r="7.5" fill="#7AE99D")
