include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body
    include ../components/global/header
    //main
    main.index
      .container
        include ../pages/index/1-screen
        include ../pages/index/stats
        include ../pages/index/features
        include ../pages/index/automation
        include ../pages/index/cta
        include ../pages/index/network
        include ../pages/index/benefits
        include ../pages/index/blog
        include ../pages/index/getStarted
    include ../components/global/footer
    include ../components/global/scripts
