include ../mixins/mixins
doctype html
html(lang="en")
  include ../components/global/head
  body.subPage
    include ../components/global/header
    //main
    main
      .container
        div
          include ../pages/сryptoTransfers/1-screen
          include ../pages/сryptoTransfers/about
        include ../pages/сryptoTransfers/advantages
        include ../pages/сryptoTransfers/featuresSlider
        div
          include ../pages/сryptoTransfers/contacts
          include ../pages/сryptoTransfers/faq
        include ../pages/сryptoTransfers/cta
    include ../components/global/footer
    include ../components/global/scripts
