//first-screen
section.fr-screen
  .fr-screen__content
    h1.fr-screen__title Execute without limits
    p.fr-screen__text Ditto is an intent execution network that transforms user intentions into automated, programmable, and trustless workflows running across any chain.
    .fr-screen__btns
      a.btn.btn_primary(href=process.env.LINK_DITTO_BUILD target="_blank")
        | Start Using Ditto
        +icon('arrow')
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | Restake
  .fr-screen__img
    include ../../components/svgImages/hero

