//first-screen
section.fr-screen
  .fr-screen__content
    h1 Execute without limits
    p The ultimate execution layer. Seamless, autonomous, and smart workflows across chains and protocols.
    .fr-screen__btns
      a.btn.btn_primary(href="#")
        | Start Building
        +icon('arrow')
      a.btn.btn_secondary(href="#")
        | Become a Restaker
  .fr-screen__img
    include ../../components/svgImages/hero

