//.fr-screen

.fr-screen {
  padding-top: 116px;
  border-top: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 43px;
  @include mq('768') {
    padding-top: 119px;
    height: 100vh;
    gap: 76px;
    // max-height: 950px;
  }
  @include mq('980') {
    max-height: 1050px;
  }
  @include mq('1024') {
    max-height: 1080px;
  }
  @include mq('1440') {
    min-height: 1080px;
  }
  &__content {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 660px;
    @include mq('768') {
      gap: 16px;
    }
  }
  &__btns {
    padding-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    @include mq('375') {
      padding-top: 15px;
      flex-direction: row;
      gap: 16px;
    }
  }
  &__text {
    padding: 0 10px;
    font-weight: 500;
    letter-spacing: 0;
    @include mq('768') {
      font-size: 18px;
      padding: 0 80px;
    }
  }
  &__img {
    width: 100%;
    height: fit-content;
    aspect-ratio: 343/169;
    overflow: hidden;
    @include mq('768') {

    }

    svg {
      width: 100%;
      height: auto;
    }

  }
}

.hero-svg {
  .step1, .step2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    opacity: 0;
    transition: none;
  }

  circle {
    // circle-переходы тоже замедляем
    transition: r 0.6s ease-in-out, fill 0.6s ease-in-out, stroke 0.6s ease-in-out;
  }

  .step1.active, .step2.active {
    animation: lineEnter 2s ease-in-out forwards; // Было 1s
  }

  .step1.exit, .step2.exit {
    animation: lineExit 2s ease-in-out forwards; // Было 1s
  }

  @keyframes lineEnter {
    0% {
      stroke-dashoffset: 1000;
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }

  @keyframes lineExit {
    0% {
      stroke-dashoffset: 0;
      opacity: 1;
    }
    100% {
      stroke-dashoffset: -1000;
      opacity: 0;
    }
  }
}


