@use "../../../sass/global/helpers/mixins/line-height";
@use "../../../sass/global/helpers/mixins/mediaquery";


.benefits-list {
  // background-image: repeating-linear-gradient(
  //   -45deg,
  //   var(--blockLines),
  //   var(--blockLines) 0.5px,
  //   transparent 1px,
  //   transparent 8px
  // );
  display: flex;
  flex-direction: column;
  @include mediaquery.mq('768') {
    flex-direction: row;
  }
  &__item {
    padding: 34px 24px 35px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
    &:not(:last-child) {
      border-bottom: 1px solid var(--globalBr);
    }
    @include mediaquery.mq('768') {
      padding: 32px 24px;
      flex: 1;
      &:not(:last-child) {
        border-right: 1px solid var(--globalBr);
        border-bottom: none;
      }
    }
    @include mediaquery.mq('1024') {
      padding: 48px 32px 45px;
      gap: 8px;
    }
  }
  &__title {
    font-size: 20px;
    @include line-height.line-height(34, 20);
    font-weight: 500;
    letter-spacing: -1px;
    color: var(--title);
    @include mediaquery.mq('1024') {
      font-size: 28px;
      @include line-height.line-height(40, 28);
      letter-spacing: -1px;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    @include line-height.line-height(24, 16);
  }
}
