@use "../../../sass/global/helpers/mixins/line-height";
@use "../../../sass/global/helpers/mixins/mediaquery";

.features-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  @include mediaquery.mq('768') {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
  }
  &__item {
    padding: 36px 24px 34px;
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      border-bottom: 1px solid var(--globalBr);
    }
    @include mediaquery.mq('768') {
      padding: 36px 24px;
      &:nth-child(1),&:nth-child(3),&:nth-child(6) {
        border-right: 1px solid var(--globalBr);
      }
      &:nth-child(6) {
        border-bottom: none;
      }
    }
    @include mediaquery.mq('1024') {
      padding: 64px 32px 56px;
    }
    &_security {
      padding: 36px 24px 54px;
      @include mediaquery.mq('1024') {
        padding-bottom: 50px;
      }
      .btn {
        margin-top: 28px;
        @include mediaquery.mq('768') {
          margin-top: 37px;

        }
      }
      @include mediaquery.mq('768') {
        flex-direction: row;
        grid-area: 3/1/4/3;
      }
      .features-list__img {
        margin-top: 6px;
        @include mediaquery.mq('768') {
          order: 1;
          margin-top: 0;
        }
      }
      .features-list__content {
        margin-top: 27px;
        @include mediaquery.mq('768') {
          margin-top: 0;
        }
      }

    }
  }
  &__subtitle {
    display: flex;
    gap: 8px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 28px;
    .icon {
      width: 24px;
      height: 24px;
      fill: var(--featuresIcon);
    }
    // .icon-puzzlePiece {
    //   stroke: var(--featuresIcon);
    //   stroke-width: 2px;
    //   fill: none;
    // }
    @include mediaquery.mq('1024') {
      margin-bottom: 40px;
    }
  }
  &__title {
    color: var(--title);
    font-size: 20px;
    @include line-height.line-height(34,20);
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 12px;
    @include mediaquery.mq('1024') {
      font-size: 28px;
      @include line-height.line-height(40,28);
      margin-bottom: 20px;
    }
  }
  &__text {
    @include mediaquery.mq('1024') {
      font-size: 18px;
    }
  }
  &__img {
    margin-top: 32px;
    @include mediaquery.mq('1024') {
      margin-top: 40px;
    }
  }
}
