.getStarted {
  width: 100%;
  padding: 93px 20px;
  background-image: repeating-linear-gradient(
    -45deg,
    var(--blockLines),
    var(--blockLines) 0.5px,
    transparent 1px,
    transparent 8px
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  text-align: center;
  @include mq('768') {
    padding: 61px 59px 55px;
    gap: 39px;

  }
  &__title {
    max-width: 425px;
    letter-spacing: -0.8px;
    margin: 0 auto;
  }
  .btn {
    width: 100%;
    max-width: 259px;
  }

}
