.network {
  padding: 36px 24px 33px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include mq('768') {
    padding: 36px 24px;
    flex-direction: row;
    padding: 0;
    gap: 0;
  }
  &__title {
    text-align: center;
    max-width: 295px;
    margin: 0 auto 28px;
    color: var(--title);
    letter-spacing: -1px;
    @include mq('768') {
      max-width: none;
      font-size: 24px;
      margin: 0 0 40px;
      text-align: left;
    }
    @include mq('1024') {
      font-size: 28px;
      letter-spacing: -1px;
      margin: 0 0 60px;
    }
  }
  &__content {
    @include mq('768') {
      padding: 24px;
      border-right: 1px solid var(--globalBr);
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    @include mq('1024') {
      padding: 32px;
    }
  }
  &__img {
    aspect-ratio: 295 / 384;
    border-radius: 12px;
    @include mq('768') {
      aspect-ratio: 493 / 643;
      max-width: 493px;
      width: 100%;
    }
    @include mq('1024') {
      margin-top: auto;
    }
    @include mq('1280') {
      width: 493px;
    }
    svg {
      width: 100%;
    }
    .step-1, .step-2, .step-3 {
      transition: stroke 0.2s ease-in-out;
      & + text {
        transition: fill 0.2s ease-in-out;
      }
    }
    .active {
      stroke: $main;
      & + text {
        fill: $darkmain;
      }
    }
  }
  .btn {
    width: 100%;
    @include mq('768') {
      width: fit-content;
    }

  }
}

.network-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include mq('768') {
    gap: 0;
    width: 50%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    @include mq('768') {
      gap: 8px;
      padding: 24px;
    }
    @include mq('1024') {
      gap: 20px;
      padding: 30px 32px 34px;
    }
    &:hover, .active {
      background: var(--networkItemBgHover);
      .network-list__title {
        color: var(--title);

      }
    }
    &:not(:last-child) {
      @include mq('768') {
        border-bottom: 1px solid var(--globalBr);
      }
    }
  }
  &__title {
    color: var(--title);
    font-weight: 500;
    font-size: 20px;
    transition: color 0.2s ease-in-out;
    @include line-height(34, 20);
    letter-spacing: -1px;
    @include mq('768') {
      font-size: 18px;
      color: var(--textColor);
    }
    @include mq('1024') {
      font-size: 16px;
      @include line-height(24, 16);
      margin-bottom: 20px;
    }

  }
  &__text {
    @include mq('1024') {
      // max-width: 400px;
      font-size: 18px;
    }


  }

}
