section.automation
  .automation__content
    h2.automation__title Trustless automation. Smarter execution. Zero overhead.
    p.automation__text Launch secure, scalable workflows in minutes. Ditto gives developers a fully automated way to power cross-chain intent execution — without building or maintaining infrastructure.
    .automation__btns
      a.btn.btn_primary(href=process.env.LINK_DITTO_BUILD target="_blank")
        | Automate Your Workflow
        +icon('arrow')
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | Become a Restaker
  .automation__wrap
    .automation__tabs
      ul.automation__tab-list
        li.automation__tab-item.active(data-tab="tab1")  01 / Define an Intent
        li.automation__tab-item(data-tab="tab2") 02 / Add Conditions
        li.automation__tab-item(data-tab="tab3") 03 / Deploy to Network
        li.automation__tab-item(data-tab="tab4") 04 / Ditto Executes
    .automation__tab-content
      // Десктопная двухколоночная структура
      .tab-panel-desktop
        .tab-panel__left
          h3.tab-panel__title From intent to execution in 1–2–3
          .code-block__wrapper
            .code-block__top
              span.code-block__title
                +icon('ts')
                | typescript
              button.code-block__copy-btn(type="button")
                +icon('copy')
            .code-block__inner(data-main)

        .tab-panel__right-desktop
          h3.tab-panel__subtitle(data-desktop-subtitle)
          p.tab-panel__text(data-desktop-text)
          .tab-panel__img(data-desktop-img)

      .tab-panel.active(data-tab="tab1")
        .tab-panel__left
          h3.tab-panel__title From intent to execution in 1–2–3
          include ./code/1
        .tab-panel__right
          h3.tab-panel__subtitle.active  01 / Define an Intent
            +icon('chevron')
          .tab-panel__mob.active
            p.tab-panel__text Define what should be done — Ditto handles the rest. Ditto compiles and executes the required logic across chains, exactly how and where it needs to happen.
            .tab-panel__img
      .tab-panel(data-tab="tab2")
        .tab-panel__left
          h3.tab-panel__title From intent to execution in 1–2–3
          include ./code/2
        .tab-panel__right
          h3.tab-panel__subtitle  02 / Add Conditions
            +icon('chevron')
          .tab-panel__mob
            p.tab-panel__text Attach conditional logic to your intent — time, price, onchain events, or custom onchain logic. Build powerful workflows from built-in modules or create your own.
            .tab-panel__img
      .tab-panel(data-tab="tab3")
        .tab-panel__left
          h3.tab-panel__title From intent to execution in 1–2–3
          include ./code/3
        .tab-panel__right
          h3.tab-panel__subtitle  03 / Deploy to Network
            +icon('chevron')
          .tab-panel__mob
            p.tab-panel__text Your intents and logic are bundled and ready for execution. Ditto validators listen, verify, and prepare for execution — securely and trustlessly.
            .tab-panel__img
      .tab-panel(data-tab="tab4")
        .tab-panel__left
          h3.tab-panel__title From intent to execution in 1–2–3
          include ./code/4
        .tab-panel__right
          h3.tab-panel__subtitle 04 / Ditto Executes
            +icon('chevron')
          .tab-panel__mob
            p.tab-panel__text When conditions are met, Ditto executes atomically across chains — with proof and security built in. All you do is… watch it run.
            .tab-panel__img
