section.benefits.wow.bounceInUp(data-wow-delay="0.2s")
  h2.hidden key benefits
  ul.benefits-list
    li.benefits-list__item
      span.benefits-list__title 50+ Pre-integrations with dApps
      span.benefits-list__text Build and automate sophisticated execution workflows with unmatched composability.
    li.benefits-list__item
      span.benefits-list__title &gt;$300M Network Security
      span.benefits-list__text Strengthen your product’s security by decentralizing execution and eliminating reliance on centralized infrastructure.
    li.benefits-list__item
      span.benefits-list__title 2 weeks vs Months with Ditto
      span.benefits-list__text Launch faster by offloading execution complexity and automating key workflows with Ditto.
