section.cta
  h2.cta__title Start executing with Ditto SDK today.
    br
    | What will you build next?
  ul.cta-list
    li.cta-list__item For AI Agents
    li.cta-list__item For DeFi
    li.cta-list__item For Vault Management
    li.cta-list__item For Asset Management
    li.cta-list__item
      a.btn.btn_gradient(href=process.env.LINK_DITTO_BUILD target="_blank")
        span.gradient
        span.text
          | Build Something Unique
          +icon('arrow')



