section.cta
  h2.cta__title Start executing with Ditto SDK today. What will you build next?
  ul.cta-list
    li.cta-list__item For AI Agents
    li.cta-list__item For Fintech Apps
    li.cta-list__item For DeFi Devs
    li.cta-list__item For Asset Managers
    li.cta-list__item
      a.btn.btn_primary(href="#")
        | Start Building
        +icon('arrow')



