section.features
  h2.hidden Key Features
  ul.features-list
    li.features-list__item
      span.features-list__subtitle
        +icon('circleArrow')
        | Intent-Centric Execution
      h3.features-list__title One signature. Infinite logic.
      p.features-list__text Users declare what they want to happen. Ditto handles how, when, and where across chains with a single signed intent.
      .features-list__img
        include ../../components/svgImages/sign
    li.features-list__item
      span.features-list__subtitle
        +icon('dashboard')
        | Omnichain by Default
      h3.features-list__title Single signature, any chain.
      p.features-list__text Ditto validators orchestrate secure execution across all supported networks. Ethereum, Arbitrum, Polygon, Base — handled seamlessly in a chain abstracted way.
      .features-list__img
        include ../../components/svgImages/omnichain
    li.features-list__item
      span.features-list__subtitle
        +icon('circleCheck')
        | Conditional, Reactive Execution
      h3.features-list__title Execute exactly when you need it.
      p.features-list__text Ditto workflows react to real-time states: prices, gas, on-chain calls, and custom events. Define your logic once, and Ditto handles the rest - no manual intervention needed.
      .features-list__img
        include ../../components/svgImages/conditional
    li.features-list__item
      span.features-list__subtitle
        +icon('box')
        | Runtime Composability
      h3.features-list__title Automate without smart contracts.
      p.features-list__text Design logic flows using pre-built or custom modular actions. Trigger from events, conditions, or time. No need to redeploy contracts.
      .features-list__img
        include ../../components/svgImages/module
    li.features-list__item.features-list__item_security
      .features-list__img
        include ../../components/svgImages/security
      .features-list__content
        span.features-list__subtitle
          +icon('lock')
          | Security
        h3.features-list__title Secured by EigenLayer &amp; Symbiotic.
        p.features-list__text Restaking-backed execution. Trustless, verifiable, and built for scale.
        a.btn.btn_secondary(href="") Become a Restaker
    li.features-list__item
      span.features-list__subtitle
        +icon('briefcase')
        | Native to Smart Accounts
      h3.features-list__title Compatible with any smart account.
      p.features-list__text Ditto supports ERC-4337, 7579, and emerging standards. Bundle complex workflows into a single UserOp. Fully programmable and gas abstracted.
      .features-list__img
        include ../../components/svgImages/smart
    li.features-list__item
      span.features-list__subtitle
        +icon('edit')
        | Developer-friendly Tech Stack
      h3.features-list__title Your workflows. Your language.
      p.features-list__text Ditto lets you build secure Web3 workflows in any language — powered by a WASM-based runtime.
      .features-list__img
        include ../../components/svgImages/tech


