section.getStarted
  h2.getStarted__title Focus on product, not infrastructure. Start executing with Ditto today.
  a.btn.btn_gradient(href=process.env.LINK_DITTO_BUILD target="_blank")
    span.gradient
    span.text
      | Build Your First Execution Flow
      +icon('arrow')
