section.getStarted.wow.bounceInUp(data-wow-delay="0.2s")
  h2.getStarted__title Start building with Ditto today. What will you build next?
  a.btn.btn_gradient(href=process.env.LINK_DITTO_BUILD target="_blank")
    span.gradient
    span.text
      | Build Something Unique
      +icon('arrow')
