section.network
  .network__content
    h2.network__title Powered by Decentralized Network.
    .network__img
      include ../../components/svgImages/layes

  ul.network-list
    li.network-list__item
      span.network-list__title 01 / Intent Layer
      p.network-list__text Builders create intent-driven workflows that orchestrate complex, programmable execution across contracts, chains, and conditions.
      a.btn.btn_secondary(href=process.env.LINK_DITTO_BUILD target="_blank")
        | Setup Your Intent Workflow
        +icon('arrow')
    li.network-list__item
      span.network-list__title 02 / Execution Layer
      p.network-list__text Executors run and coordinate real-time tasks across multiple blockchains, ensuring fast and reliable execution under validator consensus.
      a.btn.btn_secondary(href=process.env.LINK_OPERATORS_FORM target="_blank")
        | Become an Executor
        +icon('arrow')
    li.network-list__item
      span.network-list__title 03 / Restaking Layer
      p.network-list__text Restakers secure the network by delegating capital to validators, enabling economic guarantees and slashing-based accountability.
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | Become a Restaker
        +icon('arrow')



