section.stats
  h2.hidden Network Stats
  ul.stats-list
    li.stats-list__item
      span.stats-list__title Simulations Executed
      span.stats-list__value.reportsCount-js 20041
    li.stats-list__item
      span.stats-list__title Active Executors
      span.stats-list__value.operatorsCount-js 30+
    li.stats-list__item
      span.stats-list__title Network's Security
      span.stats-list__value.stakeUsd-js $300M+
