section.stats.wow.bounceInUp(data-wow-delay="0.2s")
  h2.hidden Network Stats
  ul.stats-list
    li.stats-list__item
      span.stats-list__title Transactions Executed
      span.stats-list__value 20041
    li.stats-list__item
      span.stats-list__title Active Executors
      span.stats-list__value 30+
    li.stats-list__item
      span.stats-list__title Network's Security
      span.stats-list__value $300M+
