//footer
footer.footer
  .footer__block
    .container
      .footer__top
        a.footer__link(href="") logo ditto
          +icon('ditto')
        .footer__linksblockWrap
          .footer__linksblock
            span.footer__title Participate
            ul.footer-linklist
              li.footer-linklist__item
                a.footer-linklist__link(href="#") Developers
              li.footer-linklist__item
                a.footer-linklist__link(href="#") Executors
              li.footer-linklist__item
                a.footer-linklist__link(href="#") Restakers

          .footer__linksblock
            span.footer__title Solutions
            ul.footer-linklist
              li.footer-linklist__item
                a.footer-linklist__link(href="#") For AI Agents builders
              li.footer-linklist__item
                a.footer-linklist__link(href="#") For dApps builders
              li.footer-linklist__item
                a.footer-linklist__link(href="#") For Asset Managers
              li.footer-linklist__item
                a.footer-linklist__link(href="#") For Fintech Apps
              li.footer-linklist__item
                a.footer-linklist__link(href="#") For advanced DeFi users
              li.footer-linklist__item
                a.footer-linklist__link(href="#") For Web3 DevOps teams
          .footer__linksblock
            span.footer__title Resources
            ul.footer-linklist
              li.footer-linklist__item
                a.footer-linklist__link(href="#") Blog
              li.footer-linklist__item
                a.footer-linklist__link(href="#") Documentation
              li.footer-linklist__item
                a.footer-linklist__link(href="#") Terms and Conditions
              li.footer-linklist__item
                a.footer-linklist__link(href="#") Privacy Policy
          .footer__linksblock
            span.footer__title Social
            ul.footer-linklist
              li.footer-linklist__item
                a.footer-linklist__link(href="#")
                  +icon('x')
                  |  Twitter
              li.footer-linklist__item
                a.footer-linklist__link(href="#")
                  +icon('git')
                  | GitHub
              li.footer-linklist__item
                a.footer-linklist__link(href="#")
                  +icon('discord')
                  | Discord
              li.footer-linklist__item
                a.footer-linklist__link(href="#")
                  +icon('medium')
                  | Medium
  .footer__block
    .container
      .footer__bottom
        p.copy &copy; 2025 Ditto. All rights reserved.
        .btn-theme
          button.btn-theme__dark(data-set='dark')
            +icon('dark')
          button.btn-theme__light(data-set='light')
            +icon('light')
          .btn-theme__icon
            +icon('pc')




