head
	meta(charset="utf-8")
	base(href="")
	title Ditto Network: Cross-Chain Automation &amp; Restaking Security
	meta(name="keywords" content="keywords")
	meta(name="description" content="Automate intents and workflows across multiple chains with Ditto’s secure, trustless platform, enhancing DeFi and dApp efficiency.")
	//favicon
	link(rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96")
	link(rel="icon" type="image/svg+xml" href="/favicons/favicon.svg")
	link(rel="shortcut icon" href="/favicons/favicon.ico")
	link(rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png")
	meta(name="apple-mobile-web-app-title" content="MyWebSite")
	link(rel="manifest" href="/favicons/site.webmanifest")
	//viewport
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0")
	//metapages
	meta(property='og:type' content='website')
	meta(property='og:url' content='')
	meta(property='og:image' content='/img/meta.jpg')
	meta(property='og:image:type' content='image/jpeg')
	meta(property='og:image:width' content='1200')
	meta(property='og:image:height' content='675')
	meta(property='og:title' content='Ditto Network: Cross-Chain Automation & Restaking Security')
	meta(property='og:description' content='Automate intents and workflows across multiple chains with Ditto’s secure, trustless platform, enhancing DeFi and dApp efficiency.')
	meta(property='og:site_name' content='Ditto Network')
	meta(property='og:locale' content='en_US')

	meta(name='twitter:card' content='summary_large_image')
	meta(name='twitter:title' content='Ditto Network: Cross-Chain Automation & Restaking Security')
	meta(name='twitter:description' content='Automate intents and workflows across multiple chains with Ditto’s secure, trustless platform, enhancing DeFi and dApp efficiency.')
	meta(name='twitter:image' content='/img/meta.jpg')
	meta(name='twitter:site' content='@DittoAutomation')
	meta(name='twitter:creator' content='@DittoAutomation')
	//styles
	link(rel="stylesheet" type="text/css" href="css/critical.min.css")
	link(href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Plus+Jakarta+Sans:wght@500;600&display=swap&subset=latin" rel="stylesheet")
	link(rel="stylesheet" type="text/css" href="css/style.min.css")
	link(href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet")
	noscript
		link(rel="stylesheet" type="text/css" href="css/style.min.css")
	// JSON-LD Structured Data
	script(type="application/ld+json").
		{
		  "@context": "https://schema.org",
		  "@type": "Offer",
		  "name": "Ditto Decentralized Execution Network",
		  "description": "Decentralized network for automated transaction execution, supporting Web3, DeFi, and account abstraction",
		  "availability": "https://schema.org/InStock",
		  "url": "https://www.dittonetwork.io/",
		  "validFrom": "2025-07-21",
		  "seller": {
		    "@type": "Organization",
		    "name": "Ditto Network",
		    "url": "https://www.dittonetwork.io/"
		  }
		}
