$font-family-main: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-title: 'Plus Jakarta Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

//SIZE
$font-size-main: 16px;
$font-size-h1: 28px;
$font-size-h2: 20px;
//COLORS
$black: #000;
$white: #fff;
$main: #7AE99D;

$breakpoints: ("320": 320px, "375": 375px, "768": 768px, "980": 980px, "1024": 1024px, "1280": 1280px, "1440": 1440px, "1600": 1600px);
//width container
$max-width: 1153px;

:root {
  --bgColor: #F8F9FA;
  --globalBr: #DEE2E6;
  --title: #0A0B0C;
  --textColor: #6C757D;
  --themeBtnWrapperBr: #22262A;
  --themeBtnIconStroke: #495057;
  --themeBtnHover: #F2F2F2;
  --themePcIconStroke: #171717;
  --headerSubmenuBg: #FFFFFF;
  --headerSubmenuTitle: #ADB5BD;
  --svglines: #DEE2E6;
  --svgditto: #0A0B0C;
  --svgIconsBg: #FFFFFF;
  --svgSignIconsBg: #FFFFFF;
  --svgConditionalIconsLine: #F8F9FA;
  --svgUsdcIconsBr: #E9ECEF;
  --svgUsdcIconsBg: #F8F9FA;
  --svgSecurityIconsBr: #CED4DA;
  --svgSecurityIconsGr1: #EAEDF1;
  --svgSecurityIconsGr2: #F8F9FA;


  --primaryBtnBg: #0A0B0C;
  --primaryBtnColor: #FFFFFF;
  --secondaryBtnBg: #FFFFFF;
  --secondaryBtnBr: #DEE2E6;
  --secondaryBtnColor: #212529;
  --blockLines: #E9ECEF;
  --statsValue: #0A0B0C;
  --ctaItemBg: #FFFFFF;
  --tabsTitleColor: #6C757D;
  --tabsTitleActiveColor: #212529;
  --tabsTitleActiveBg: #FFFFFF;
  --codeTopBg: #F8F9FA;
  --codeString: #495057;
  --codeNum: #CED4DA;
  --codePunctuation: #ADB5BD;

  --tabs1Img: url(../img/automation/1.webp);
  --tabs2Img: url(../img/automation/2.webp);
  --tabs3Img: url(../img/automation/3.webp);
  --tabs4Img: url(../img/automation/4.webp);

  --networkItemBgHover: #FFFFFF;
  --networkImgBg: #FFFFFF;
  --networkImgItemBg: #F8F9FA;

  --blog1Img: url(../img/blog/blogImg1.png);
  --blog2Img: url(../img/blog/blogImg2.png);
  --blog3Img: url(../img/blog/blogImg3.png);
  --blog4Img: url(../img/blog/blogImg4.png);
  --blog5Img: url(../img/blog/blogImg5.png);
  --blog6Img: url(../img/blog/blogImg6.png);
  --blogBgHover: #FFFFFF;
  --footerLogo: #6C757D;
  --footerlinkHover: #505456;

}

body.dark {
  --bgColor: #0A0B0C;
  --globalBr: #22262A;
  --title: #FFFFFF;
  --textColor: #6C757D;
  --themeBtnWrapperBr: #22262A;
  --themeBtnIconStroke: #495057;
  --themeBtnHover: #22262A;
  --themePcIconStroke: #FFFFFF;
  --headerSubmenuBg: #0F1113;
  --headerSubmenuTitle: #495057;
  --svglines: #22262A;
  --svgditto: #FFFFFF;
  --svgIconsBg: #0F1113;
  --svgSignIconsBg: #0F1113;
  --svgConditionalIconsLine: #22262A;
  --svgUsdcIconsBr: #22262A;
  --svgUsdcIconsBg: #0F1113;
  --svgSecurityIconsBr: #495057;
  --svgSecurityIconsGr1: #0A0B0C;
  --svgSecurityIconsGr2: #2A2E31;

  --primaryBtnBg: #FFFFFF;
  --primaryBtnColor: #000000;
  --secondaryBtnBg: #0F1113;
  --secondaryBtnBr: #22262A;
  --secondaryBtnColor: #FFFFFF;
  --blockLines: #0F1113;
  --statsValue: #FFFFFF;
  --ctaItemBg: #0F1113;
  --tabsTitleColor: #6C757D;
  --tabsTitleActiveColor: #FFFFFF;
  --tabsTitleActiveBg: #0F1113;
  --codeTopBg: #0F1113;
  --codeString: #FFFFFF;
  --codeNum: #495057;
  --codePunctuation: #495057;

  --tabs1Img: url(../img/automation/1-dark.webp);
  --tabs2Img: url(../img/automation/2-dark.webp);
  --tabs3Img: url(../img/automation/3-dark.webp);
  --tabs4Img: url(../img/automation/4-dark.webp);

  --networkItemBgHover: #0F1113;
  --networkImgBg: #0A0B0C;
  --networkImgItemBg: #0F1113;

  --blog1Img: url(../img/blog/blogImgDark1.png);
  --blog2Img: url(../img/blog/blogImgDark2.png);
  --blog3Img: url(../img/blog/blogImgDark3.png);
  --blog4Img: url(../img/blog/blogImgDark4.png);
  --blog5Img: url(../img/blog/blogImgDark5.png);
  --blog6Img: url(../img/blog/blogImgDark6.png);--blogBgHover: #0F1113;
  --footerLogo: #6C757D;
  --footerlinkHover: #a0a9b2;
}
