.code-template(data-code-id="tab4")
  .code-block__line-numbers
    | 1
    br
    | 2
    br
    | 3
    br
    | 4
    br
    | 5
    br
    | 6
    br
    | 7
    br
    | 8
    br
    | 9
  pre.code-block__pre
    code.code-block__code.language-typescript
      | import { DittoClient } from "@ditto/sdk";
      |
      | (async () => {
      |    const { chainIds, executions } = await new
      | DittoClient({ apiKey: process.env.DITTO_API_KEY })
      |    .workflows.getStatus("QmXyz123...");
      |    console.log(`Chains ${chainIds.join(",")} · Runs
      | ${executions}`);
      | })();


