.code-template(data-code-id="tab4")
  .code-block__line-numbers
    | 1
    br
    | 2
    br
    | 3
    br
    | 4
    br
    | 5
    br
    | 6
    br
    | 7
    br
    | 8
    br
    | 9
    br
    | 10
    br
    | 11
  pre.code-block__pre
    code.code-block__code.language-typescript
      | const keplerClient = createKeplerClient(https://
      | kepler-rpc.ditto.network");
      |
      | const workflow = await
      | workflowBuilder.buildAndSign();
      |
      | const keplerClient = createKeplerClient("https://
      | kepler-rpc.ditto.network");
      | const result = await
      | keplerClient.signAndBroadcast({ msg: workflow });
      | });


