.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(24/10)*1rem;
	width:(25/24)*1em;
}
.icon-box {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-briefcase {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-chevron {
	font-size:(24/10)*1rem;
	width:(25/24)*1em;
}
.icon-circleArrow {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-circleCheck {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-copy {
	font-size:(21/10)*1rem;
	width:(20/21)*1em;
}
.icon-dark {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-dashboard {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-discord {
	font-size:(13/10)*1rem;
	width:(12/13)*1em;
}
.icon-ditto {
	font-size:(25/10)*1rem;
	width:(26/25)*1em;
}
.icon-edit {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-gear {
	font-size:(256/10)*1rem;
	width:(256/256)*1em;
}
.icon-git {
	font-size:(13/10)*1rem;
	width:(12/13)*1em;
}
.icon-light {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-lock {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-logo {
	font-size:(25/10)*1rem;
	width:(89/25)*1em;
}
.icon-medium {
	font-size:(13/10)*1rem;
	width:(12/13)*1em;
}
.icon-pc {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-puzzlePiece {
	font-size:(256/10)*1rem;
	width:(256/256)*1em;
}
.icon-ts {
	font-size:(15/10)*1rem;
	width:(14/15)*1em;
}
.icon-x {
	font-size:(13/10)*1rem;
	width:(12/13)*1em;
}
