@use "sass:math";

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(25, 24) * 1em;
}
.icon-bolt {
  font-size: math.div(42, 10) * 1rem;
  width: math.div(42, 42) * 1em;
}
.icon-box {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(24, 24) * 1em;
}
.icon-briefcase {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(24, 24) * 1em;
}
.icon-chart {
  font-size: math.div(44, 10) * 1rem;
  width: math.div(44, 44) * 1em;
}
.icon-chevron {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(25, 24) * 1em;
}
.icon-circleArrow {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(24, 24) * 1em;
}
.icon-circleCheck {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(24, 24) * 1em;
}
.icon-cloud {
  font-size: math.div(42, 10) * 1rem;
  width: math.div(42, 42) * 1em;
}
.icon-code {
  font-size: math.div(42, 10) * 1rem;
  width: math.div(43, 42) * 1em;
}
.icon-copy {
  font-size: math.div(21, 10) * 1rem;
  width: math.div(20, 21) * 1em;
}
.icon-credit {
  font-size: math.div(42, 10) * 1rem;
  width: math.div(43, 42) * 1em;
}
.icon-dark {
  font-size: math.div(16, 10) * 1rem;
  width: math.div(16, 16) * 1em;
}
.icon-dashboard {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(24, 24) * 1em;
}
.icon-discord {
  font-size: math.div(13, 10) * 1rem;
  width: math.div(12, 13) * 1em;
}
.icon-ditto {
  font-size: math.div(25, 10) * 1rem;
  width: math.div(26, 25) * 1em;
}
.icon-edit {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(24, 24) * 1em;
}
.icon-gear {
  font-size: math.div(256, 10) * 1rem;
  width: math.div(256, 256) * 1em;
}
.icon-gear2 {
  font-size: math.div(44, 10) * 1rem;
  width: math.div(44, 44) * 1em;
}
.icon-git {
  font-size: math.div(13, 10) * 1rem;
  width: math.div(12, 13) * 1em;
}
.icon-globe {
  font-size: math.div(50, 10) * 1rem;
  width: math.div(50, 50) * 1em;
}
.icon-grid {
  font-size: math.div(44, 10) * 1rem;
  width: math.div(44, 44) * 1em;
}
.icon-light {
  font-size: math.div(16, 10) * 1rem;
  width: math.div(16, 16) * 1em;
}
.icon-lightning {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(24, 24) * 1em;
}
.icon-lock {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(24, 24) * 1em;
}
.icon-logo {
  font-size: math.div(25, 10) * 1rem;
  width: math.div(89, 25) * 1em;
}
.icon-medium {
  font-size: math.div(13, 10) * 1rem;
  width: math.div(12, 13) * 1em;
}
.icon-pc {
  font-size: math.div(16, 10) * 1rem;
  width: math.div(16, 16) * 1em;
}
.icon-puzzle {
  font-size: math.div(42, 10) * 1rem;
  width: math.div(43, 42) * 1em;
}
.icon-puzzlePiece {
  font-size: math.div(256, 10) * 1rem;
  width: math.div(256, 256) * 1em;
}
.icon-replace {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(24, 24) * 1em;
}
.icon-settings {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(25, 24) * 1em;
}
.icon-shield {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(24, 24) * 1em;
}
.icon-shield2 {
  font-size: math.div(42, 10) * 1rem;
  width: math.div(43, 42) * 1em;
}
.icon-shieldCheck {
  font-size: math.div(44, 10) * 1rem;
  width: math.div(44, 44) * 1em;
}
.icon-shieldSearch {
  font-size: math.div(42, 10) * 1rem;
  width: math.div(42, 42) * 1em;
}
.icon-ts {
  font-size: math.div(15, 10) * 1rem;
  width: math.div(14, 15) * 1em;
}
.icon-wallet {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(25, 24) * 1em;
}
.icon-wallet2 {
  font-size: math.div(42, 10) * 1rem;
  width: math.div(42, 42) * 1em;
}
.icon-wand {
  font-size: math.div(24, 10) * 1rem;
  width: math.div(25, 24) * 1em;
}
.icon-x {
  font-size: math.div(13, 10) * 1rem;
  width: math.div(12, 13) * 1em;
}
