@use "../../../sass/global/helpers/mixins/mediaquery";

.btn {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
  padding: 0 12px;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  background: transparent;
  min-width: 140px;
  gap: 8px;
  border-radius: 4px;
  width: fit-content;
  white-space: nowrap;
  position: relative; // для псевдоэлемента анимации
  overflow: hidden; // чтобы "волна" не выходила за пределы
  @include mediaquery.mq('768') {
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
  }

  .icon {
    stroke: currentColor;
    width: 24px;
    height: 24px;
    transition: stroke 0.3s ease;
  }

  &:focus {
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
  }
}

.btn_primary {
  background: var(--primaryBtnBg);
  color: var(--primaryBtnColor);
  border: none;
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid transparent;

  .icon {
    width: 24px;
    height: 24px;
    stroke: var(--primaryBtnColor);
    transition: stroke 0.3s ease;
  }

  &:hover {
    background: var(--primaryBtnBgHover);
  }

  &:active {
    background: var(--primaryBtnBgActive);
  }
}

.btn_secondary {
  background: var(--secondaryBtnBg);
  color: var(--secondaryBtnColor);
  border: 1px solid var(--secondaryBtnBr);
  position: relative;
  opacity: 1;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  background: var(--secondaryBtnBgHover);
  }

  &:active {
    opacity: 0.8;
  }
}

.btn_gradient {
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
  overflow: visible;
  padding: 0;
  @include mediaquery.mq('768') {
    padding: 0;
  }
  .gradient {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: inherit;
    border-radius: 6px;
    background: linear-gradient(-90deg, #007cf0, #00dfd8, #ff0080, #007cf0);
    background-size: 400% 100%;
    border: none;
    padding: 0;
    margin: 0;
    animation: gradient-button 8s ease-in-out infinite;
    &::after {
      content: "";
      position: absolute;
      background-size: inherit;
      background-image: inherit;
      animation: inherit;
      left: 0;
      right: 0;
      top: 2px;
      height: 100%;
      filter: blur(.5rem);
    }
  }
  .text {
    background: var(--gradientBtnBg);
    color: var(--gradientBtnColor);
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0 12px;
    position: relative;
    z-index: 1;
  }
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.8;
  }
}

.btn_gradient_second {
  transition: opacity 0.3s ease;
  .text {
    background: var(--gradientBtnSecondBg);
    color: var(--gradientBtnSecondColor);
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.8;
  }
}

@keyframes gradient-button {
  50% {
    background-position: 140% 50%;
    transform: skew(-2deg);
  }
}
