@use "../../../sass/global/helpers/mixins/mediaquery";
@use "../../../sass/global/helpers/variables";

.container {
  position: relative;
  width: 100%;
  max-width: variables.$max-width;
  padding: 0 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mediaquery.mq('768') {
    padding: 0 20px;
  }
}

.subPage {
  .container {
    @include mediaquery.mq('768') {
      gap: 32px;
    }
  }
}
