//first-screen
section.fr-screen
  .fr-screen__content
    .page-mark Asset &amp; Vault Management
    h1.fr-screen__title Launch Automated, Policy-Controlled On-Chain Cash &amp; Yield Products — Live in Weeks, Not Months
    p.fr-screen__text Enterprise-Grade Yield Infrastructure. Zero Infrastructure Overhead.
    .fr-screen__btns
      a.btn.btn_primary(href=process.env.LINK_CONTACY_US target="_blank")
        | Talk to Sales
        +icon('arrow')
      a.btn.btn_secondary(href=process.env.LINK_RESTAKE target="_blank")
        | See Examples
  .fr-screen__img
    include ../../components/svgImages/subPageHero

