section.contacts
  .contacts__left
    h2.subPage__title.contacts__title Ready to Launch Institutional-Grade Yield Products?
    p.contacts__text Go live in weeks, not months. Ditto enables asset managers, fintechs, and next-gen platforms to deploy secure, enterprise-grade yield strategies up to 10× faster while meeting institutional standards.
    .contacts__btns
      a.btn.btn_primary(href=process.env.LINK_DITTO_BUILD target="_blank")
        | Talk to an Expert
      a.btn.btn_secondary(href=process.env.LINK_DITTO_BUILD target="_blank")
        |  Explore the Docs
  .contacts__right
    h3.subPage__title.contacts__title Prefer email?
      br
      | contact@dittonetwork.io
    p.contacts__text Work with our team to design custom vaults and yield strategies tailored to your client needs and risk parameters.
    a.btn_ditto(href=process.env.LINK_DITTO_BUILD target="_blank")
      +icon('ditto')
